/* Small devices (phones, 320px and up) */

@media screen and (min-width: 320px) {
    .navbar_wrapper {
        background: linear-gradient(#3065b5, #3eb8d7);
    }
    .site_logo {
        display: none;
        padding-left: 95px;
    }
    .carousel {
        z-index: 0;
    }
    .title {
        /* padding-top: 13px; */
    }
    .topbar-social {
        width: 20px;
        margin-top: 18px;
    }
    /*.topbar-social ul li img {
        width: 17px;
    } */
    .title_wrapper {
        float: none;
        text-align: center;
        margin-top: -12px;
        margin-right: -110px;
    }
    .title_wrapper h1 {
        font-size: 18px;
    }
    .title_wrapper h3 {
        font-size: 16px;
    }
    .membership_wrapper {
        margin-top: 50px;
        margin-left: -226px;
    }
    .membership_wrapper.btn {
        margin-left: 75px;
        font-size: 15px;
    }
    .team_separate_col>img {
        margin-left: auto;
        margin-right: auto;
    }
    .team_mem_detail {
        margin-left: 22px;
    }
}


/* Small devices (phones, 360px and up) */

@media screen and (min-width: 360px) {
    .site_logo {
        padding-left: 120px;
    }
    .team_mem_detail {
        margin-left: 40px;
    }
}


/* Small devices (phones, 384px and up) */

@media screen and (min-width: 384px) {
    .site_logo {
        padding-left: 135px;
    }
    .title_wrapper {
        margin-right: -130px;
    }
    .membership_wrapper {
        margin-left: -250px;
    }
    .team_mem_detail {
        margin-left: 58px;
    }
}


/* Small devices (phones, 411px and up) */

@media screen and (min-width: 411px) {
    .site_logo {
        padding-left: 150px;
    }
    .title_wrapper {
        margin-right: -145px;
    }
    .membership_wrapper {
        margin-left: -280px;
    }
    .team_mem_detail {
        margin-left: 67px;
    }
}


/* Small devices (phones, 480px and up) */

@media screen and (min-width: 480px) {
    .site_logo {
        padding-left: 180px;
    }
    .topbar-social {
        /* margin-top: 30px; */
    }
    .title_wrapper {
        margin-right: 0;
        margin-top: 50px;
    }
    .membership_wrapper {
        margin-top: 46px;
        margin-left: -42px;
        margin-bottom: 64px;
    }
    .team_mem_detail {
        margin-left: 106px;
    }
}


/* Small devices (phones, 600 and up) */

@media screen and (min-width: 600px) {
    .site_logo {
        padding-left: 325px;
    }
    .team_mem_detail {
        position: absolute;
        z-index: 1;
        margin-top: -200px;
        padding-left: 255px;
        margin-left: 0;
    }
    .team_separate_col>img {
        margin-left: 0;
        margin-right: 0;
    }
}


/* Small devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {
    .navbar_wrapper {
        background: linear-gradient(rgba(48, 101, 181, 0.4), rgba(62, 184, 215, 0.4));
    }
    .navbar_wrapper .navbar-nav>li {
        padding-left: 0;
        margin-left: -10px;
    }
    .navbar_wrapper .navbar-nav>li a {
        font-size: 10px;
    }
    .site_logo {
        display: block;
        position: absolute;
        z-index: -1;
        padding-left: 312px;
        margin-top: -60px;
    }
    .site_logo img {
        width: 75px;
    }
    .title {
        /* padding-top: 24px; */
    }
    .title_wrapper {
        float: right;
        text-align: center;
        margin-top: -105px;
        margin-right: -45px;
    }
    .title_wrapper h1 {
        font-size: 36px;
    }
    .title_wrapper h3 {
        font-size: 23px;
    }
    .topbar-social {
        margin-top: 58px;
        text-align: left;
        float: left;
        width: 100%;
    }
    .membership_wrapper {
        margin-top: 22px;
        float: right;
    }
    /* ## Footer */
    /* -- Contact Details */
    .contact-details .detail-box {
        padding-left: 70px;
        height: 120px;
    }
    .contact-details .detail-box i {
        width: 60px;
    }
    .contact-details .detail-box p {
        font-size: 12px;
    }
}


/* Medium devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
    .navbar_wrapper .navbar-nav>li {
        padding-left: 22px;
    }
    .navbar_wrapper .navbar-nav>li a {
        font-size: 12px;
    }
    .site_logo img {
        width: 100px;
    }
    .site_logo {
        padding-left: 422px;
    }
}


/* Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
    .navbar_wrapper .navbar-nav>li {
        padding-left: 46px;
    }
    .site_logo {
        padding-left: 538px;
    }
}


/* Large devices (large desktops, 1360px and up) */

@media screen and (min-width: 1360px) {
    .navbar_wrapper .navbar-nav>li {
        padding-left: 64px;
    }
    .site_logo {
        padding-left: 610px;
    }
    .title_wrapper {
        margin-right: 0;
    }
}


/* Large devices (large desktops, 1440px and up) */

@media screen and (min-width: 1440px) {
    .navbar_wrapper .navbar-nav>li {
        padding-left: 78px;
    }
    .site_logo {
        padding-left: 675px;
    }
}


/* Large devices (large desktops, 1600px and up) */

@media screen and (min-width: 1600px) {
    .navbar_wrapper .navbar-nav>li {
        padding-left: 95px;
    }
    .site_logo {
        padding-left: 758px;
    }
    .title_wrapper {
        margin-right: 30px;
    }
}


/* Large devices (large desktops, 1680px and up) */

@media screen and (min-width: 1680px) {
    .navbar_wrapper .navbar-nav>li {
        padding-left: 105px;
    }
    .site_logo {
        padding-left: 806px;
    }
    .title_wrapper {
        margin-right: 40px;
    }
}


/* Large devices (large desktops, 1920px and up) */

@media screen and (min-width: 1920px) {
    .navbar_wrapper .navbar-nav>li {
        padding-left: 135px;
    }
    .site_logo {
        padding-left: 940px;
    }
    .title_wrapper {
        margin-right: 72px;
    }
}


/* Large devices (large desktops, 2560px and up) */

@media screen and (min-width: 2560px) {
    .navbar_wrapper .navbar-nav>li {
        padding-left: 208px;
    }
    .site_logo {
        padding-left: 1278px;
    }
    .title_wrapper {
        margin-right: 135px;
    }
}